
<div class="container">

 <h2>Normal Well</h2>
 
 <div class="well">This the normal well example</div>
 
 <h2>Large Well</h2>
 
 <div class="well well-lg">This the large well example</div>
 
 <h2>Small Well</h2>
 
 <div class="well well-sm">This the small well example</div>
 
</div>